.header {
    font-family: "Arial", sans-serif;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-left__container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav li + li {
    margin-left: 0.3rem;
}

.header-nav a {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    border-radius: 12px;
    text-decoration: none;
    padding: 0.4rem 1rem;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    box-sizing: border-box;
}

.header-nav a:hover {
    background-color: rgba(255, 184, 0, 0.3);
}

.logo img {
    color: black;
    font-size: 1.4rem;
    font-weight: 700;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.btn-outline {
    background: transparent;
    border: 1px solid #333;
    border-radius: 999px;
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-outline:hover {
    background-color: #f0f0f0;
}

.btn-primary {
    background-color: #ffb800;
    color: #000;
    cursor: pointer;
    border-radius: 999px;
    padding: 0.8rem 1.2rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.2s;
}

.btn-primary:hover {
    background-color: #e6a800;
}